@tailwind base;
@tailwind components;
@tailwind utilities;

/* Netflix has a gradient background from #060606 (top) to #141414 (bottom) */
/*
To get the gradient background, they applied this to the header menu
background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
*/


:root {
  --background: #141414;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #ededed;
  }
}

h1 {
  font-size: calc(13px + 0.5vw);
}

/* MEDIA SIZE DEPENDENT STYLES */
    /* FONT SIZE */
      /*ORIENTATION == MAX 3/4*/
@media screen and (min-width: 0) and (max-width: 480px) and (max-aspect-ratio: 4 / 3) {
  body, html {
      font-size: 1.5vw;
  }
}

@media screen and (min-width: 481px) and (max-width: 840px) and (max-aspect-ratio: 4 / 3) {
  body, html {
      font-size: 1vw;
  }
}

@media screen and (min-width: 841px) and (max-width: 1280px) and (max-aspect-ratio: 4 / 3) {
  body, html {
      font-size: .75vw;
  }
}

@media screen and (min-width: 1601px) and (max-width:1920px) and (max-aspect-ratio:4/3) {
  body,html {
      font-size:.75vw
  }
}

@media screen and (min-width: 1921px) and (max-aspect-ratio:4/3) {
  body,html {
      font-size:12px
  }
}

@media screen and (min-width: 1281px) and (max-width: 1600px) and (max-aspect-ratio: 4 / 3) {
  body, html {
      font-size: .75vw;
  }
}

      /*ORIENTATION == LANDSCAPE*/
@media screen and (max-width: 480px) and (orientation: landscape) {
  body, html {
      font-size: 1.5vw;
  }
}

@media screen and (min-width: 481px) and (max-width: 840px) and (orientation: landscape) {
  body, html {
      font-size: 1.2vw;
  }
}

@media screen and (min-width: 841px) and (max-width: 1280px) and (orientation: landscape) {
  body, html {
      font-size: .85vw;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1600px) and (orientation: landscape) {
  body, html {
      font-size: .75vw;
  }
}

@media screen and (min-width: 1601px) and (max-width: 1920px) and (orientation: landscape) {
  body, html {
      font-size: .75vw;
  }
}

@media screen and (min-width: 1921px) and (orientation: landscape) {
  body, html {
      font-size: 14px;
  }
}

    /* CAROUSELS AND GENERAL LAYOUT */
@media screen and (max-width: 500px) {
  h1 {
    font-size: 13px;
  }

  .carousel-item {
      width:50%;
  }
}

@media screen and (min-width: 500px) and (max-width:800px) {
  .carousel-item {
      width:33.333333%;
  }
}

@media screen and (min-width: 800px) and (max-width:1100px) {
  .carousel-item {
      width:25%;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1400px) {
  .carousel-item {
      width:20%;
  }
}

@media screen and (min-width: 1400px) {
  .carousel-item {
      width:16.66666667%;
  }
}

    /* HEADER MENU */
.height-header-menu {
  height: 41px;
}
@media screen and (min-width: 950px) {
  .height-header-menu {
    height: 68px;
  }
}

.text-size-header-menu {
  font-size: 1.2rem;
}
@media screen and (min-width: 1200px) {
  .text-size-header-menu {
    font-size: 14px;
  }
}

.p-header-menu {
  padding: 0 4%;
}
@media screen and (min-width: 1500px) {
  .p-header-menu {
    padding: 0 60px;
  }
}

    /* HEADER LOGO */
.image-size-header-logo {
  height: 2.2em;
  width: auto;
}
@media screen and (min-width: 950px) {
  .image-size-header-logo {
    height: 31px;
  }
}

.mr-header-logo {
  margin-right: 5px
}
@media screen and (min-width: 1150px) {
  .mr-header-logo {
    margin-right: 25px
  }
}

/* GENERAL STYLES FOR THE BODY */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* STYLES FOR HEADER MENU */
.bg-gradient-header-menu {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.styles-tab-header-menu {
  display: block;
  list-style-type: none;
  margin-left: 18px;
}

.transition-text-header-menu {
  transition: color .4s;
}

.styles-text-header-menu:hover, .styles-text-header-menu:focus {
  color: #fff;
}

/* STYLES FOR SLIDER NAVIGATION BUTTONS */

.sliderHandle {
  background: hsla(0, 0%, 8%, .5);
  bottom: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 0;
  width: 4%;
  z-index: 20;
}

.sliderHandle.active {
  cursor: pointer;
}

.sliderHandle.handleLeft {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  left: -2px;
}

.sliderHandle.handleRight {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  right: 0;
}


/* STYLES FOR ITEM CARDS*/

.card-shaded-top {
  box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.4), /* Right shadow */
              -5px 5px 5px -2px rgba(0, 0, 0, 0.4); /* Bottom shadow */
}

.card-shaded-bottom{
  box-shadow: 5px 4px 5px -2px rgba(0, 0, 0, 0.4), /* Right shadow */
              -5px 4px 5px -2px rgba(0, 0, 0, 0.4), /* Left shadow */
              0px 6px 5px -2px rgba(0, 0, 0, 0.4); /* Left shadow */
}

.card-grid-container{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto auto;
}

.interpunct{
  color: rgb(97,97,97);
  font-size: 2.7em;
  list-style-type: circle;
}

.button-size-variable{
  width: calc(9px + 1.2vw);
  height: calc(9px + 1.2vw);
}

.icon-size-variable{
  font-size: calc(5px + 0.5vw);
}

.icon-size-variable-small{
  font-size: calc(5px + 0.5vw);
}