@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #ededed;
  }
}

h1 {
  font-size: calc(13px + 0.5vw);
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 13px
  }

  .carousel-item {
      width:50%
  }
}

@media screen and (min-width: 500px) and (max-width:800px) {
  .carousel-item {
      width:33.333333%
  }
}

@media screen and (min-width: 800px) and (max-width:1100px) {
  .carousel-item {
      width:25%
  }
}

@media screen and (min-width: 1100px) and (max-width: 1400px) {
  .carousel-item {
      width:20%
  }
}

@media screen and (min-width: 1400px) {
  .carousel-item {
      width:16.66666667%
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* STYLES FOR SLIDER NAVIGATION BUTTONS */

.sliderHandle {
  background: hsla(0, 0%, 8%, .5);
  bottom: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 0;
  width: 4%;
  z-index: 20;
}

.sliderHandle.active {
  cursor: pointer;
}

.sliderHandle.handleLeft {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  left: -2px;
}

.sliderHandle.handleRight {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  right: 0;
}